<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />

        <title>NZISM Comparison</title>

        <style type="text/css">
            body {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            h1 {
                color: #040477;
            }
        </style>
    </head>
    <body>
        <section>
            <h1>NZISM Comparisons</h1>
            <p>This is a collection of NZISM version comparisons.</p>
            <p>If you would like to contribute, please see <a href="https://github.com/jlaundry/nzism">https://github.com/jlaundry/nzism</a></p>
            <h2>Most recent versions:</h2>
            <ul>
                {% for c in most_recent %}
                <li><a href="NZISM-{{ c.0.version }}-to-{{ c.1.version }}.html">NZISM {{ c.0.version }} to {{ c.1.version }} comparison</a></li>
                {% endfor %}
            </ul>
        </section>
    </body>
</html>